/* rating */
.rating-css  {
    color: #db6a31;
    font-size: 25px;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
    padding: 20px 0;
  }
  .rating  {
    color: #db6a31;
    font-size: 25px;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
    padding: 20px 0;
  }
  /* .tooltip-inner {
    background-color: #f00 !important;
    color: #f00 ;
  } */